#logout{
    top:38%; 
}

.stoxly-logo{
    width: 55%;
    height: 20%;
}

.stoxly-logo-lg{
    width: 55% !important;
    height: 20% !important;
}

.blank-10{
    height: 8%;
}

.pad-5{
    margin-bottom: 20px;
}

.grey{
    color: #a7abad;
}

.trending{
    width: 75% !important;
}

.medium{
    width: 47% !important;
}

.font-grey{
    color: #7e7f82;
}

.theme-color{
    background-color: #444444 !important;
}

.charts-container{
    width: 65%;
    height: 55%;
}