<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='amcharts/style.css') }}" type="text/css">
    </head>
    <body>
       
        <div class="ui left vertical inverted sidebar menu visible theme-color">
            <div class="item">
                <a class="ui logo icon image" href="/"><img class="stoxly-logo" src="{{ url_for('static', filename='assets/blank.stoxly.png') }}"/></a>
            </div>
            <div class="blank-10"></div>
            <div class="item pad-5">
                <div class="ui search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search company">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
           
            <a href="#" class="item active"><i class="home icon"></i> Dashboard</a>
            <a href="/shortlist" class="item"><i class="list icon"></i> Shortlist</a>
            <a href="/sentiment/dashboard" class="item"><i class="smile outline icon"> </i>Sentiment Analysis</a>
            <a href="#" class="item"><i class="cog icon"> </i>Settings</a>
            <a href="/logout" class="item" id="logout"><i class="sign out alternate icon"></i> Logout</a>
        </div>
                
        <div class="pusher">
            <div class="ui container">
                <h1 class="ui header">Trending Stocks</h1>
                <div class="ui container">
                    <section>
                        <p class="grey"><small>Last updated 5 minutes ago</small></p>
                        <p><strong>Source: StockTwits</strong></p>
                        <table class="ui celled padded table trending">
                            <thead>
                                <tr>
                                    <th class="four wide">Stock</th>
                                    <th class="three wide">Last</th>
                                    <th class="three wide">Change</th>
                                    <th class="three wide">%</th>
                                    <!-- <th class="three wide">Volume</th> -->
                                </tr>
                            </thead>
                            <tbody id="trending-body">
                                <!-- <tr>
                                    <td>
                                        <h2 class="ui header">A</h2>
                                    </td>
                                    <td class="single line">
                                        Power Output
                                    </td>
                                    <td>
                                        <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
                                    </td>
                                    <td class="right aligned">
                                        80% <br>
                                        <a href="#">18 studies</a>
                                    </td>
                                    <td>Creatine supplementation is the reference compound for</td>
                                </tr> -->
                            </tbody>
                        </table>
                        
                    </section>
                    <br>
                </div>
                <!-- <div class="ui container">
                    <section>
                        <h1 class="ui header">Shortlisted</h1> 
                        <ul>
                            {% for i in tickers %}
                            <li>{{ i.ticker }}</li>
                            <div class="ui three item menu medium">
                                <a id="{{i.ticker}}-fq-1d" class="item active frequency">1 day</a>
                                <a id="{{i.ticker}}-fq-5d" class="item frequency">5 days</a>
                                <a id="{{i.ticker}}-fq-1m" class="item frequency">1 month</a>
                            </div> -->
                            <!-- <svg width="500" height="350" id="{{i.ticker}}" class="shortlisted-stock-chart"></svg> -->
                            <!-- <div id="{{i.ticker}}" class="charts-container shortlisted-stock-chart"></div>
                            {% endfor %}
                        </ul>
                    </section>
                    
                </div>   -->
            </div>
        </div>
              
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/charts.js') }}"></script> -->
        <script src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/serial.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/amstock.js') }}"></script>
       
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/stock.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="{{ url_for('static', filename='js/trending.js') }}"></script>
        <script>
           
            $('.ui.search')
            .search({
                apiSettings:{
                    url: "https://search.xignite.com/Search/Suggest?parameter=XigniteGlobalQuotes.GetGlobalDelayedQuote.Identifier&term={query}"
                },
                fields:{
                    results:"Results",
                    title:"Value",
                    description:"Text"
                    // url : "Some URL goes here"
                }, minCharacters : 1
            });
           
        </script>
    </body>
</html>