
<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Stoxly - Login</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
    
    </head>
    <body>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui black header">
                    <img src="{{ url_for('static', filename='assets/blank.stoxly.png') }}" class="stoxly-logo-lg">
                </div>
                
                <form class="ui large form" action="/login" method="POST">
                    <div class="ui segment">
                        <h3 class="ui black">
                            <!-- <img src="assets/images/logo.png" class="image"> -->
                            <div class="content">
                                Login to your account
                            </div>
                        </h3>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui fluid large blue submit button">Login</div>
                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui message">
                    New to us? <a href="/register">Sign Up</a>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script>
            $(document)
                .ready(function() {
                $('.ui.form')
                    .form({
                    fields: {
                        email: {
                        identifier  : 'email',
                        rules: [
                            {
                            type   : 'empty',
                            prompt : 'Please enter your e-mail'
                            },
                            {
                            type   : 'email',
                            prompt : 'Please enter a valid e-mail'
                            }
                        ]
                        },
                        password: {
                        identifier  : 'password',
                        rules: [
                            {
                            type   : 'empty',
                            prompt : 'Please enter your password'
                            }
                        ]
                        }
                    }
                    })
                ;
                })
            ;
        </script>
    </body>

</html>
