
<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Stoxly - Create New Account</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
    
    </head>
    <body>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui black header">
                    <img src="{{ url_for('static', filename='assets/blank.stoxly.png') }}" class="stoxly-logo-lg">
                </div>
                
                <form class="ui large form" method="POST" action="/register">
                    <div class="ui segment">
                        <h3 class="ui black">
                            <!-- <img src="assets/images/logo.png" class="image"> -->
                            <div class="content">
                                Create New Account
                            </div>
                        </h3>
                        <div class="field">
                            <div class="ui left input">
                                <!-- <i class="lock icon"></i> -->
                                <input type="text" name="first_name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left input">
                                <!-- <i class="lock icon"></i> -->
                                <input type="text" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left input">
                                <!-- <i class="user icon"></i> -->
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left input">
                                <!-- <i class="lock icon"></i> -->
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui fluid large blue submit button">Register</div>
                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui message">
                    Have an account? <a href="/login">Login</a>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script>
            $(document)
                .ready(function() {
                $('.ui.form')
                    .form({
                    fields: {
                        email: {
                            identifier  : 'email',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your e-mail'
                                },
                                {
                                    type   : 'email',
                                    prompt : 'Please enter a valid e-mail'
                                }
                            ]
                        },
                        password: {
                            identifier  : 'password',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your password'
                                },
                                {
                                    type   : 'length[6]',
                                    prompt : 'Your password must be at least 6 characters'
                                }
                            ]
                        },
                        first_name:{
                            identifier  : 'first_name',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your first name'
                                }
                            ]
                        
                        },
                        last_name:{
                            identifier  : 'last_name',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your last name'
                                }
                            ]
                        
                        }

                    }
                    })
                ;
                })
            ;
        </script>
    </body>

</html>
