<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='amcharts/style.css') }}" type="text/css">
    </head>
    <body>
       
        <div class="ui left vertical inverted sidebar menu visible theme-color">
            <div class="item">
                <a class="ui logo icon image" href="/"><img class="stoxly-logo" src="{{ url_for('static', filename='assets/blank.stoxly.png') }}"/></a>
            </div>
            <div class="blank-10"></div>
            <div class="item pad-5">
                <div class="ui search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search company">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
           
            <a href="/" class="item"><i class="home icon"></i> Dashboard</a>
            <a href="/shortlist" class="item"><i class="list icon"></i> Shortlist</a>
            <a href="/sentiment/dashboard" class="item active"><i class="smile outline icon"> </i>Sentiment Analysis</a>
            <a href="#" class="item"><i class="cog icon"> </i>Settings</a>
            <a href="/logout" class="item" id="logout"><i class="sign out alternate icon"></i> Logout</a>
        </div>
                
        <div class="pusher">
            <div class="ui container">
                <h1 class="ui header">Sentiment Dashboard</h1>
                <div class="ui container">
                   
                    <br>
                    <section>
                        <!-- <p class="grey"><small>Last updated 5 minutes ago</small></p> -->
                        <!-- <p><strong>Source: StockTwits</strong></p> -->
                        <div class="ui row"><p>Pos: {{stat["bullish_no"]}} Neg: {{stat["bearish_no"]}} Neu: {{stat["neutral_no"]}} Spam: {{stat["spam_no"]}}</p></div>
                        <br>
                        <div class="ui row">
                            <p>
                                <strong>Record Date:</strong> <input id="date" type="date" /> <span style="padding-left:10px;"></span>
                                <strong>Active:</strong> <input type="checkbox" id="active" name="active"/ >
                            </p>
                            <p><strong><a href="#" id="query-tweets" class="ui button primary">Query Tweets</a></strong></p>
                        </div>
                        
                        <table class="ui celled table trending">
                            <thead>
                                <tr>
                                    <th class="one wide">ID</th>
                                    <th class="five wide">Text</th>
                                    <!-- <th class="two wide">Source</th> -->
                                    <th class="one wide">Sentiment</th>
                                    <th class="one wide">Edited</th>
                                    <th class="four wide"></th>
                                </tr>
                            </thead>
                            <tbody id="shortlisted-stocks">
                                {% for i in data %}
                                    <tr id="{{i.ticker}}-row">
                                        <td style="color:blue;">{{i["id"]}}</td>
                                        <td>{{i["text"]}}</td>
                                        <!-- <td>{{i["source"]}}</td> -->
                                        <td class="font-grey"><span id="sentiment-text-{{i['id']}}">{{i["sentiment"]}}</span></td>
                                        <td class="font-grey"><span id="status-{{i['id']}}">{{i["edited"]}}</span></td>
                                        <td>
                                            <button class="ui green button sentiment" id="{{i['id']}}-bullish">Bullish</button>
                                            <button class="ui red button sentiment" id="{{i['id']}}-bearish">Bearish</button>
                                            <br> <br>
                                            <button class="ui button sentiment" id="{{i['id']}}-neutral">Neutral</button>
                                            <button class="ui red button spam" id="{{i['id']}}-spam">Spam</button>
                                        </td>
                                        
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        
                        
                    </section>
                    <br>
                </div> 
            </div>
        </div>

       
                
                
              
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/charts.js') }}"></script> -->
        <script src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/serial.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/amstock.js') }}"></script>
       
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/stock.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script>
            window._token= "{{token}}";
            $('.ui.search')
            .search({
                apiSettings:{
                    url: "https://search.xignite.com/Search/Suggest?parameter=XigniteGlobalQuotes.GetGlobalDelayedQuote.Identifier&term={query}"
                },
                fields:{
                    results:"Results",
                    title:"Value",
                    description:"Text"
                    // url : "Some URL goes here"
                }, minCharacters : 1
            });
           
        </script>
    </body>
</html>