<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='amcharts/style.css') }}" type="text/css">
    </head>
    <body>
       
        <div class="ui left vertical inverted sidebar menu visible theme-color">
            <div class="item">
                <a class="ui logo icon image" href="/"><img class="stoxly-logo" src="{{ url_for('static', filename='assets/blank.stoxly.png') }}"/></a>
            </div>
            <div class="blank-10"></div>
            <div class="item pad-5">
                <div class="ui search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search company">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
           
            <a href="/" class="item"><i class="home icon"></i> Dashboard</a>
            <a href="/shortlist" class="item active"><i class="list icon"></i> Shortlist</a>
            <a href="/sentiment/dashboard" class="item"><i class="smile outline icon"> </i>Sentiment Analysis</a>
            <a href="#" class="item"><i class="cog icon"> </i>Settings</a>
            <a href="/logout" class="item" id="logout"><i class="sign out alternate icon"></i> Logout</a>
        </div>
                
        <div class="pusher">
            <div class="ui container">
                <h1 class="ui header">Shortlist</h1>
                <div class="ui container">
                    
                    <div class="ui container right floated">
                        <div class="ui search">
                            <!-- <div class="row"> -->
                                <div class="ui icon input">
                                    <input class="prompt" type="text" id ="add-stock-box" placeholder="Search company">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                                <button class="ui primary basic button add-stock disabled"><i class="plus icon"></i>Add</button>
                            <!-- </div> -->
                        </div>
                    </div>
                    <br>
                    <section>
                        <!-- <p class="grey"><small>Last updated 5 minutes ago</small></p> -->
                        <!-- <p><strong>Source: StockTwits</strong></p> -->
                        <table class="ui celled padded table trending">
                            <thead>
                                <tr>
                                    <th class="two wide">Stock</th>
                                    <th class="four wide">Alive Since</th>
                                    <th class="four wide">Sentiment</th>
                                    <th class="four wide">Updated</th>
                                    <th class="two wide"></th>
                                </tr>
                            </thead>
                            <tbody id="shortlisted-stocks">
                                {% for i in shortlist %}
                                    <tr id="{{i.ticker}}-row">
                                        <td><a href="#">{{i.ticker}}</a></td>
                                        <td class="font-grey">yesterday</td>
                                        <td>positive</td>
                                        <td class="font-grey">10/9/2018</td>
                                        <td class="font-grey"><button class="ui red button delete-stock" id="{{i.ticker}}-delete">Delete</button></td>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        
                    </section>
                    <br>
                </div> 
            </div>
        </div>

       
                
                
              
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/charts.js') }}"></script> -->
        <script src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/serial.js') }}"></script>
        <script src="{{ url_for('static', filename='amcharts/amstock.js') }}"></script>
       
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{ url_for('static', filename='js/stock.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script>
            window._token= "{{token}}";
            $('.ui.search')
            .search({
                apiSettings:{
                    url: "https://search.xignite.com/Search/Suggest?parameter=XigniteGlobalQuotes.GetGlobalDelayedQuote.Identifier&term={query}"
                },
                fields:{
                    results:"Results",
                    title:"Value",
                    description:"Text"
                    // url : "Some URL goes here"
                }, minCharacters : 1,
                onSelect:function(result){
                    console.log(result);
                    if ("id" in result)
                        $(".add-stock").removeClass("disabled");
                        window._stock = result
                }
            });
           
        </script>
    </body>
</html>